# Backend Envs
PORT=5000
MONGODB_URI=mongodb://mongo:27017/intelli_credit

# Python Microservices URLs
EXTRACTION_SERVICE_URL=http://extraction-service:8000
RESEARCH_AGENT_URL=http://research-agent:8001
RISK_ENGINE_URL=http://risk-engine:8002
CAM_GENERATOR_URL=http://cam-generator:8003

# Frontend Envs
VITE_API_BASE_URL=http://localhost:5000
